<!DOCTYPE html>
<html lang="en" ng-app="tdeeCalcApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Calculate TDEE</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Dashboard -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>

    <!-- TDEE Calculator Controller -->
    <script src="js/controllers.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="tdeeCalculatorCtrl">


  <!-- main container -->
  <div class="container">


    <!-- navigation -->
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="smoking.html">Smoking</a></li>
          <li role="presentation" class="active"><a href="tdee.html">TDEE</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Dashboard</h3>
    </div>

    <!-- header -->
    <div class="page-header">
      <h1>Calculate your Total Daily Energy Expenditure (TDEE)</h1>
    </div>



    <!-- row -->
    <div class="row">


      <!-- left column -->
      <div class="col-sm-6">
        <form>

          <!-- Mass -->
          <div class="form-group">
            <label for="inputWeight">Weight (kg)</label>
            <input ng-model="inputWeight" type="text" class="form-control" id="inputWeight" placeholder="Enter weight (kg)">
          </div>

          <!-- Fat -->
          <div class="form-group">
            <label for="inputFatPercentage">Body fat percentage (%)</label>
            <input ng-model="inputFatPercentage" type="text" class="form-control" id="inputFatPercentage" placeholder="Body fat percentage (%)">
          </div>

          <!-- Activity Level -->
          <div class="form-group">
            <label for="inputActivityLevel">Activity level</label>
            <select ng-model="currentActivityLevel" class="form-control">
              <option type="number" ng-repeat="activityLevel in activityLevels" value="{{activityLevel.value}}">{{activityLevel.name}} ({{activityLevel.description}})</option>
            </select>
          </div>

          <!-- Height -->
          <div class="form-group">
            <label for="inputHeight">Height (cm)</label>
            <input ng-model="inputHeight" type="number" class="form-control" id="inputHeight" placeholder="Enter height (cm)"></input>
          </div>

          <!-- Button -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- middle column -->
      <div class="col-sm-4">
        <!-- BMR -->
        <div class="well">
          <strong>BMR: {{calculateBMR(inputWeight, inputFatPercentage) | number : 1}}</strong>
        </div>

        <!-- TDEE -->
        <div class="well">
          <strong>TDEE: {{calculateTDEE(inputWeight, inputFatPercentage, currentActivityLevel) | number : 1}}</strong>
        </div>

        <!-- BMI -->
        <div class="well">
          <strong>BMI: {{calculateBMI(inputWeight, inputHeight) | number : 2}}</strong>
        </div>
      </div>

      <!-- right margin -->
      <div class="col-sm-4"></div>
    </div>

  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Dashboard code -->
    <script src="js/dashboard.js"></script>
  </body>
</html>
